# Grouping DataFrames

## Setup

In [1]:
import numpy as np
import pandas as pd

## Creation

Creation of an example DataFrame (starting from a dictionary of dictionaries):

In [2]:
data = {
    "Capital": {
        "Spain": "Madrid",
        "Belgium": "Brussels",
        "France": "Paris",
        "Italy": "Roma",
        "Germany": "Berlin",
        "Portugal": "Lisbon",
        "Norway": "Oslo",
        "Greece": "Athens",
    },
    "Population": {
        "Spain": 46733038,
        "Belgium": 11449656,
        "France": 67076000,
        "Italy": 60390560,
        "Germany": 83122889,
        "Portugal": 10295909,
        "Norway": 5391369,
        "Greece": 10718565,
    },
    "Monarch": {
        "Spain": "Felipe VI",
        "Belgium": "Philippe",
        "Norway": "Harald V",
    },
    "Area": {
        "Spain": 505990,
        "Belgium": 30688,
        "France": 640679,
        "Italy": 301340,
        "Germany": 357022,
        "Portugal": 92212,
        "Norway": 385207,
        "Greece": 131957,
    },
}

In [3]:
data = {
    "City": [
        "Barcelona",
        "Barcelona",
        "Barcelona",
        "Torino",
        "Torino",
        "Basel",
        "Basel",
        "Basel",
        "Basel",
    ],
    "Animal": [
        "Elephant",
        "Dolphin",
        "Monkey",
        "Elephant",
        "Monkey",
        "Elephant",
        "Dolphin",
        "Lion",
        "Giraffe",
    ],
    "Origin": [
        "Asia",
        None,
        "Africa",
        "Africa",
        "Asia",
        "Africa",
        None,
        "Africa",
        "Africa",
    ],
    "Quantity": [
        4,
        5,
        8,
        3,
        12,
        2,
        6,
        7,
        1,
    ],
    "Adults": [
        4,
        2,
        2,
        3,
        8,
        1,
        4,
        2,
        0,
    ],
    "Kids": [
        0,
        3,
        6,
        0,
        4,
        1,
        2,
        5,
        1,
    ],
}

In [4]:
# For now, let's forget about these steps:
df = pd.DataFrame(data)
df["City"] = df["City"].astype("category")
df["Animal"] = df["Animal"].astype("string")
df["Origin"] = df["Origin"].astype("category")

In [5]:
df.dtypes

City        category
Animal        string
Origin      category
Quantity       int64
Adults         int64
Kids           int64
dtype: object

In [6]:
df["Quantity"] == df["Adults"] + df["Kids"]

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
dtype: bool

Apple stock data, taken from the [`matplotlib` sample datasets](https://github.com/matplotlib/sample_data/blob/master/aapl.csv)

In [7]:
# For now, let's forget about these steps:
apple = pd.read_csv("AAPL.csv")
apple["Date"] = apple["Date"].astype("datetime64[ns]")
apple = apple.set_index("Date")
apple = apple.sort_index()

In [8]:
characters = pd.read_csv("characters.csv", sep=";", index_col="Id")
characters = characters[
    characters["House"].isin(["Gryffindor", "Hufflepuff", "Ravenclaw", "Slytherin"])
].copy()
characters["Name"] = characters["Name"].astype("string")
characters["Gender"] = characters["Gender"].astype("category")
characters["Job"] = characters["Job"].astype("category")
characters["House"] = characters["House"].astype("category")
characters["Wand"] = characters["Wand"].astype("string")
characters["Patronus"] = characters["Patronus"].astype("string")
characters["Species"] = characters["Species"].astype("category")
characters["Blood status"] = characters["Blood status"].astype("category")
characters["Hair colour"] = characters["Hair colour"].astype("category")
characters["Eye colour"] = characters["Eye colour"].astype("category")
characters["Loyalty"] = characters["Loyalty"].astype("string")
characters["Skills"] = characters["Skills"].astype("string")
characters = characters.rename(columns={"Death": "Dead"})
characters.loc[characters["Dead"].notnull(), "Dead"] = True
characters.loc[characters["Dead"].isnull(), "Dead"] = False

## Demo 1: Grouping

In [9]:
df

        City    Animal  Origin  Quantity  Adults  Kids
0  Barcelona  Elephant    Asia         4       4     0
1  Barcelona   Dolphin     NaN         5       2     3
2  Barcelona    Monkey  Africa         8       2     6
3     Torino  Elephant  Africa         3       3     0
4     Torino    Monkey    Asia        12       8     4
5      Basel  Elephant  Africa         2       1     1
6      Basel   Dolphin     NaN         6       4     2
7      Basel      Lion  Africa         7       2     5
8      Basel   Giraffe  Africa         1       0     1

In [10]:
df.dtypes

City        category
Animal        string
Origin      category
Quantity       int64
Adults         int64
Kids           int64
dtype: object

In [11]:
df["Quantity"] == df["Adults"] + df["Kids"]

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
dtype: bool

In [12]:
df["Quantity"] != df["Adults"] + df["Kids"]

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
dtype: bool

In [13]:
(df["Quantity"] != df["Adults"] + df["Kids"]).sum()

0

Group rows by cities:

In [14]:
df.groupby("City")

Loop over the groups:

In [15]:
for (name, group) in df.groupby("City"):
    print(name)
    display(group)
    print("")

Barcelona

        City    Animal  Origin  Quantity  Adults  Kids
0  Barcelona  Elephant    Asia         4       4     0
1  Barcelona   Dolphin     NaN         5       2     3
2  Barcelona    Monkey  Africa         8       2     6

Basel

    City    Animal  Origin  Quantity  Adults  Kids
5  Basel  Elephant  Africa         2       1     1
6  Basel   Dolphin     NaN         6       4     2
7  Basel      Lion  Africa         7       2     5
8  Basel   Giraffe  Africa         1       0     1

Torino

     City    Animal  Origin  Quantity  Adults  Kids
3  Torino  Elephant  Africa         3       3     0
4  Torino    Monkey    Asia        12       8     4

## Exercise 1

In [16]:
characters.head()

,Name,Gender,Job,House,Wand,Patronus,Species,Blood status,Hair colour,Eye colour,Loyalty,Skills,Birth,Dead
Id,,,,,,,,,,,,,,
1,Harry James Potter,Male,Student,Gryffindor,"11"" Holly phoenix feather",Stag,Human,Half-blood,Black,Bright green,Albus Dumbledore | Dumbledore's Army | Order o...,Parseltongue| Defence Against the Dark Arts | ...,31 July 1980,False
2,Ronald Bilius Weasley,Male,Student,Gryffindor,"12"" Ash unicorn tail hair",Jack Russell terrier,Human,Pure-blood,Red,Blue,Dumbledore's Army | Order of the Phoenix | Hog...,Wizard chess | Quidditch goalkeeping,1 March 1980,False
3,Hermione Jean Granger,Female,Student,Gryffindor,"10¾"" vine wood dragon heartstring",Otter,Human,Muggle-born,Brown,Brown,Dumbledore's Army | Order of the Phoenix | Hog...,Almost everything,"19 September, 1979",False
4,Albus Percival Wulfric Brian Dumbledore,Male,Headmaster,Gryffindor,"15"" Elder Thestral tail hair core",Phoenix,Human,Half-blood,Silver| formerly auburn,Blue,Dumbledore's Army | Order of the Phoenix | Hog...,Considered by many to be one of the most power...,Late August 1881,True
5,Rubeus Hagrid,Male,Keeper of Keys and Grounds | Professor of Care...,Gryffindor,"16"" Oak unknown core",None,Half-Human/Half-Giant,Part-Human (Half-giant),Black,Black,Albus Dumbledore | Order of the Phoenix | Hogw...,Resistant to stunning spells| above average st...,6 December 1928,False

Group the characters by their "House", and loop over the 4 groups:

In [17]:
characters.groupby(by="House")

In [18]:
for (name,group) in characters.groupby(by="House"):
    print(name)
    display(group)
    print("")

Gryffindor

,Name,Gender,Job,House,Wand,Patronus,Species,Blood status,Hair colour,Eye colour,Loyalty,Skills,Birth,Dead
Id,,,,,,,,,,,,,,
1,Harry James Potter,Male,Student,Gryffindor,"11"" Holly phoenix feather",Stag,Human,Half-blood,Black,Bright green,Albus Dumbledore | Dumbledore's Army | Order o...,Parseltongue| Defence Against the Dark Arts | ...,31 July 1980,False
2,Ronald Bilius Weasley,Male,Student,Gryffindor,"12"" Ash unicorn tail hair",Jack Russell terrier,Human,Pure-blood,Red,Blue,Dumbledore's Army | Order of the Phoenix | Hog...,Wizard chess | Quidditch goalkeeping,1 March 1980,False
3,Hermione Jean Granger,Female,Student,Gryffindor,"10¾"" vine wood dragon heartstring",Otter,Human,Muggle-born,Brown,Brown,Dumbledore's Army | Order of the Phoenix | Hog...,Almost everything,"19 September, 1979",False
4,Albus Percival Wulfric Brian Dumbledore,Male,Headmaster,Gryffindor,"15"" Elder Thestral tail hair core",Phoenix,Human,Half-blood,Silver| formerly auburn,Blue,Dumbledore's Army | Order of the Phoenix | Hog...,Considered by many to be one of the most power...,Late August 1881,True
5,Rubeus Hagrid,Male,Keeper of Keys and Grounds | Professor of Care...,Gryffindor,"16"" Oak unknown core",None,Half-Human/Half-Giant,Part-Human (Half-giant),Black,Black,Albus Dumbledore | Order of the Phoenix | Hogw...,Resistant to stunning spells| above average st...,6 December 1928,False
6,Neville Longbottom,Male,Student,Gryffindor,"13"" Cherry unicorn hair",Non-corporeal,Human,Pure-blood,Blond,NaN,Dumbledore's Army | Order of the Phoenix | Hog...,Herbology,"30 July, 1980",False
7,Fred Weasley,Male,Student,Gryffindor,Unknown,Unknown,Human,Pure-blood,Red,Brown,Dumbledore's Army | Order of the Phoenix | Hog...,Beater,"1 April, 1978",True
8,George Weasley,Male,Student,Gryffindor,Unknown,Unknown,Human,Pure-blood,Red,Brown,Dumbledore's Army | Order of the Phoenix | Hog...,Beater,"1 April, 1978",False
9,Ginevra (Ginny) Molly Weasley,Female,Student,Gryffindor,Unknown,Horse,Human,Pure-blood,Red,Bright brown,Dumbledore's Army | Order of the Phoenix | Hog...,Chaser| Bat-Bogey hex,"11 August, 1981",False
10,Dean Thomas,Male,Student,Gryffindor,Unknown,Unknown,Human,Muggle-born,Black,Brown,Dumbledore's Army | Hogwarts School of Witchcr...,Chaser,1 September 1979- 31 August 1980,False
11,Seamus Finnigan,Male,Student,Gryffindor,Unknown,Fox,Human,Half-blood,Sandy,NaN,Dumbledore's Army | Hogwarts School of Witchcr...,Pyrotechnics,1 September 1979- 31 August 1981,False
12,Lily J. Potter,Female,NaN,Gryffindor,"10¼"" Willow unknown core",Doe,Human,Muggle-born,Auburn,Bright green,Order of the Phoenix,<NA>,"30 January, 1960",True
13,James Potter,Male,NaN,Gryffindor,"11"" Mahogany unknown core",Stag,Human,Pure-blood,Black,Hazel,Order of the Phoenix,Animagus| Seeker,"27 March, 1960",True
14,Sirius Black,Male,NaN,Gryffindor,Unknown,Unknown,Human,Pure-blood,Black,Grey,Order of the Phoenix,Animagus| nonverbal magic| Charms,"3 November, 1959",True
15,Remus John Lupin,Male,Professor of Defence Against the Dark Arts,Gryffindor,"10¼"" Cypress unicorn hair",Wolf,Werewolf,Half-blood,Light brown flecked with grey,Green,Order of the Phoenix,Exceptionally gifted in Defence Against the Da...,"10 March, 1960",True
16,Peter Pettigrew,Male,The Servant of Lord Voldemort,Gryffindor,"9¼"" Chestnut dragon heartstring",None,Human,Half-blood or pure-blood,Colourless and balding,Blue,Lord Voldemort| Death Eaters,Animagus,1 September 1959- 31 August 1960,True
17,Percy Ignatius Weasley,Male,Student|Prefect| Personal assistant to Barty ...,Gryffindor,Unknown,Unknown,Human,Pure-blood,Red,Blue,Order of the Phoenix| Hogwarts School of Witch...,Intelligent| hard-working| a model student,"22 August, 1976",False
18,(Bill) William Arthur Weasley,Male,Curse-Breaker for Gringotts Bank,Gryffindor,Unknown,Unknown,Human (Werewolf traits),Pure-blood,Red,Blue,Order of the Phoenix,Highly skilled curse-breaker for Gringotts Wiz...,"29 November, 1970",False
19,Charles Weasley,Male,Dragonologist,Gryffindor,"12"" Ash unicorn tail hair",Unknown,Human,Pure-blood,Red,Grey,Order of the Phoenix | Gringotts Wizarding Bank,Highly skilled dragon trainer| one-time Gryffi...,"12 December, 1972",False
20,Lee Jordan,Male,Student,Gryffindor,Unknown,Unknown,Human,Pure-blood or half-blood,Black,Brown,Dumbledore's Army | Order of the Phoenix | Hog...,Quidditch commentary | broadcasting,1 September 1977- 31 August 1978,False
21,Oliver Wood,Male,Student,Gryffindor,Unknown,Unknown,Human,Pure-blood or Half-blood,NaN,NaN,Hogwarts School of Witchcraft and Wizardry,Keeper| Captain of the Gryffindor Quidditch team,October 1975 - 31 August 1976,False
22,Angelina Johnson,Female,Student,Gryffindor,Unknown,Unknown,Human,Unknown,Brown,Brown,Dumbledore's Army |Hogwarts School of Witchcra...,Chaser,"24  30 October, 1977",False
23,Katie Bell,Female,Student,Gryffindor,Unknown,Unknown,Human,Pure-blood or half-blood,Brown,Brown,Dumbledore's Army |Hogwarts School of Witchcra...,Chaser,1 September 1978- 31 August 1979,False
24,Alicia Spinnet,Female,Student,Gryffindor,Unknown,Unknown,Human,Pure-blood or half-blood,Brown,Brown,Dumbledore's Army |Hogwarts School of Witchcra...,Chaser,1 September 1977- 31 August 1978,False
25,Lavender Brown,Female,Student,Gryffindor,Unknown,Unknown,Human,Pure-blood,Blond,Blue,Dumbledore's Army |Hogwarts School of Witchcra...,Divination,1 September 1979- 31 August 1980,True
26,Parvati Patil,Female,Student,Gryffindor,Unknown,Unknown,Human,Pure-blood or half-blood,Dark,Dark,Dumbledore's Army |Hogwarts School of Witchcra...,Divination,1 September 1979- 21 April 1980,False
27,Romilda Vane,Female,Student,Gryffindor,Unknown,Unknown,Human,Pure-blood or half-blood,Black,Dark,Dumbledore's Army |Hogwarts School of Witchcra...,Spiking Chocolate Cauldrons with love potion,1 September 1981- 31 August 1982,False
28,Colin Creevey,Male,Student,Gryffindor,Unknown,Unknown,Human,Muggle-born,Mousy,NaN,Dumbledore's Army |Hogwarts School of Witchcra...,Photography,3 May - 31 August 1981,True
29,Cormac McLaggen,Male,Student,Gryffindor,Unknown,Unknown,Human,Pure-blood or half-blood,Blond,NaN,Dumbledore's Army |Hogwarts School of Witchcra...,Quidditch Keeper,1 September 1978- 31 August 1979,False
30,Minerva McGonagall,Female,Professor of Transfiguration | Head of Gryffindor,Gryffindor,"9½"" Fir dragon heartstring",Cat,Human,Half-blood,Black,Green,Albus Dumbledore | Order of the Phoenix | Hogw...,Animagus,4 October,False
31,Molly Weasley,Female,NaN,Gryffindor,Unknown,Unknown,Human,Pure-blood,Red,Bright brown,Order of the Phoenix,Household spells| healing magic,"30 October, 1949",False
32,Arthur Weasley,Male,Head of the Misuse of Muggle Artefacts Office,Gryffindor,Unknown,Weasel,Human,Pure-blood,Red,Green,Order of the Phoenix| British Ministry of Magic,Muggle world works,"6 February, 1950",False
69,Godric Gryffindor,Male,Founder of Gryffindor,Gryffindor,Unknown,Unknown,Human,Pure-blood or half-blood,Red,Green,<NA>,The most accomplished duellist of his time,Pre 976,True
71,Nicholas de Mimsy-Porpington,Male,Gryffindor House Ghost,Gryffindor,Unknown,Unknown,Ghost,NaN,Grey,NaN,<NA>,<NA>,1401 -1475,True
98,Frank Longbottom,Male,Auror,Gryffindor,"Inherited by his son, Neville. It was broken i...",Unknown,Human,Pure-blood,Blonde,NaN,Original Order of the Phoenix,Auror,1 September 1957 - 31 August 1959 or earlier,False
124,Dennis Creevey,Male,Student,Gryffindor,Unknown,Unknown,Human,Muggle-born,Mousy brown,NaN,Dumbledore's Army,<NA>,1 September 1982 - 31 August 1983,False
128,James Sirius Potter,Male,Student,Gryffindor,Unknown,Unknown,Human,Half-blood,NaN,NaN,<NA>,<NA>,1 September 2003-31 August 2004,False
129,Rose Granger-Weasley,Female,Student,Gryffindor,Unknown,Unknown,Human,Half-blood,Red,NaN,<NA>,Chaser,1 September 2005-31 August 2006,False

Hufflepuff

,Name,Gender,Job,House,Wand,Patronus,Species,Blood status,Hair colour,Eye colour,Loyalty,Skills,Birth,Dead
Id,,,,,,,,,,,,,,
78,Helga Hufflepuff,Female,Founder of Hufflepuff,Hufflepuff,Unknown,Unknown,Human,Pure-blood or half-blood,Brown,Blue,<NA>,Food-related Charms. Many traditional Hogwarts...,Pre 976,True
79,Fat Friar,Male,Hufflepuff House Ghost,Hufflepuff,Unknown,Unknown,Ghost,NaN,Brown,NaN,<NA>,Curing peasants of the pox,10th century,True
81,Nymphadora Tonks,Female,Auror,Hufflepuff,Unknown,"Jack rabbit, Wolf",Human,Half-blood,Variable,Variable,Ministry of Magic | Order of the Phoenix,"Talented Auror, Metamorphmagus",1 September 1972- 31 August 1973,True
82,Pomona Sprout,Female,Professor of Herbology | Head of Hufflepuff House,Hufflepuff,Unknown,Non-corporeal,Human,Pure-blood or half-blood,NaN,Grey,<NA>,Herbology,15 May,False
83,Newton Scamander,Male,Employee in the Beast Division of the Departme...,Hufflepuff,Unknown,Unknown,Human,Pure-blood or half-blood,Red brown,Blue,<NA>,"Magizoology, Order of Merlin, Second Class",24 February 1897,False
84,Cedric Diggory,Male,Student,Hufflepuff,"12¼"", Ash, unicorn hair",Unknown,Human,Pure-blood,Dark,Grey,<NA>,Skilled Seeker,1 September - 30 October 1977,True
85,Justin Finch-Fletchley,Male,Student,Hufflepuff,Unknown,Non-corporeal,Human,Muggle-born,Red,NaN,Dumbledore's Army,<NA>,1 September 1979- 31 August 1980,False
86,Zacharias Smith,Male,Student,Hufflepuff,Unknown,Unknown,Human,Pure-blood or half-blood,Blonde,NaN,Dumbledore's Army,Chaser,1 September 1979 - 2 May 1981,False
87,Hannah Abbott,Female,Student,Hufflepuff,Unknown,Non-corporeal,Human,Half-blood,Blonde,Brown,Dumbledore's Army,"Defensive spells, learned with Dumbledore's Army",1 September 1979 - 31 August 1980,False
88,Ernest Macmillan,Male,Student,Hufflepuff,Unknown,Boar,Human,Pure-blood,Blond,NaN,Dumbledore's Army,"Revising, being a Prefect, getting the wrong e...",21 April 1980 - 31 August 1980,False
89,Susan Bones,Female,Student,Hufflepuff,Unknown,Unknown,Human,Half-blood,NaN,NaN,Dumbledore's Army,"Defensive spells, learned with Dumbledore's Army",1 September 1979 - 31 August 1980,False
114,Edgar Bones,Male,NaN,Hufflepuff,Unknown,Unknown,Human,Pure-blood or half-blood,Reddish-brown,Grey,Original Order of the Phoenix,Said to be a great wizard,NaN,True
127,Edward Remus Lupin,Male,Student,Hufflepuff,Unknown,Unknown,Human (Metamorphmagus),Half-blood,Variable,Variable,<NA>,<NA>,"April, 1998",False

Ravenclaw

,Name,Gender,Job,House,Wand,Patronus,Species,Blood status,Hair colour,Eye colour,Loyalty,Skills,Birth,Dead
Id,,,,,,,,,,,,,,
33,Quirinus Quirrell,Male,Defence Against the Dark Arts(1991-1992),Ravenclaw,"9"" Alder unicorn hair bendy",Non-corporeal,Human,Half-blood,NaN,NaN,Lord Voldemort,Learned in the theory of Defensive Magic| less...,"26 September,1970 or earlier",True
34,Cho Chang,Female,Student,Ravenclaw,Unknown,Swan,Human,Pure-blood or half-blood,Black,Dark,Dumbledore's Army |Hogwarts School of Witchcra...,Seeker,1 September 1978-31 August 1979,False
35,Luna Lovegood,Female,Student,Ravenclaw,Unknown,Hare,Human,Pure-blood or half-blood,Dirty-blonde,Pale silvery,Dumbledore's Army |Hogwarts School of Witchcra...,Spotting Nargles,"13 February, 1981",False
36,Gilderoy Lockhart,Male,Defence Against the Dark Arts(1992-1993),Ravenclaw,"9"" Cherry dragon heartstring",Non-corporeal,Human,Half-blood,Blond,Blue,<NA>,<NA>,26 January 1964,False
37,Filius Flitwick,Male,Professor of Charms | Head of Ravenclaw,Ravenclaw,Unknown,Non-corporeal,Human(goblin ancestry),Part-Goblin,White,NaN,<NA>,Charms,17 October 1958 or earlier,False
38,Sybill Patricia Trelawney,Female,Professor of Divination,Ravenclaw,9 ½ hazel unicorn hair core,Non-corporeal,Human,Half-blood,NaN,NaN,<NA>,"A Seer, though the gift is unpredictable and u...",9 March prior to 1962,False
39,Garrick Ollivander,Male,Wandmaker,Ravenclaw,"12¾"" Hornbeam dragon heartstring",Non-corporeal,Human,Half-blood,NaN,Silvery,<NA>,An incomparable understanding of wandcraft,"25 September, pre 1908",False
40,Myrtle Elizabeth Warren (Moaning Myrtle),Female,Student,Ravenclaw,Unknown,Unknown,Ghost,Muggle-born,NaN,NaN,<NA>,<NA>,14 June 1928 -13 June 1929,True
41,Padma Patil,Female,Student,Ravenclaw,Unknown,Non-corporeal,Human,Pure-blood or half-blood,Dark,Dark,Dumbledore's Army |Hogwarts School of Witchcra...,Prefect,1 September 1979 - 21 April 1980,False
42,Michael Corner,Male,Student,Ravenclaw,Unknown,Squirrel,Human,Half-blood,Black,Brown,Dumbledore's Army |Hogwarts School of Witchcra...,Potions,1 September 1979 - 31 August 1980,False
43,Marietta Edgecombe,Female,Student,Ravenclaw,Unknown,Unknown,Human,Pure-blood or half-blood,Reddish-blonde,Grey,<NA>,Covering up the spots that blight her face aft...,1978-1979,False
44,Terry Boot,Male,Student,Ravenclaw,Unknown,Unknown,Human,Pure-blood or half-blood,NaN,NaN,Dumbledore's Army |Hogwarts School of Witchcra...,"Potions, also knowledgable about Charms",1 September 1979- 21 April 1980,False
45,Anthony Goldstein,Male,Student,Ravenclaw,Unknown,Non-corporeal,Human,Half-blood,Blonde,Grey,Dumbledore's Army |Hogwarts School of Witchcra...,Prefect,1 September 1979- 31 August 1980,False
65,Penelope Clearwater,Female,Student,Ravenclaw,Unknown,Non-corporeal,Human,Muggle-born or half-blood[,Blonde,NaN,<NA>,Prefect,1 September 1975- 31 August 1976,False
66,Roger Davies,Male,Student,Ravenclaw,Unknown,Unknown,Human,NaN,Dark,Dark,<NA>,"Quidditch Captain, Chaser",1 September 1977- 31 August 1978,False
67,Marcus Belby,Male,Student,Ravenclaw,Unknown,Unknown,Human,Pure-blood or half-blood,Brown,Dark,<NA>,<NA>,1 September 1978 - 31 August 1979,False
70,Rowena Ravenclaw,Female,Founder of Ravenclaw,Ravenclaw,Unknown,Unknown,Human,Pure-blood or half-blood,Black,Dark,<NA>,"Extremely skilled witch, known for her intelli...",Pre 976,True
80,Helena Ravenclaw,Female,Ravenclaw House Ghost,Ravenclaw,Unknown,Unknown,Ghost,Pure-blood or half-blood,Black,Grey,<NA>,<NA>,Post 982,True

Slytherin

,Name,Gender,Job,House,Wand,Patronus,Species,Blood status,Hair colour,Eye colour,Loyalty,Skills,Birth,Dead
Id,,,,,,,,,,,,,,
46,Severus Snape,Male,Professor of Potions | Head of Slytherin,Slytherin,Unknown,Doe,Human,Half-blood,Black,Black,<NA>,Extremely skilled at potions and Occlumency,9 January 1960,True
47,Draco Malfoy,Male,Student,Slytherin,"10"" Hawthorn unicorn hair",Unknown,Human,Pure-blood,White-blond,Grey,<NA>,"Prefect, Seeker","5 June, 1980",False
48,Vincent Crabbe,Male,Student,Slytherin,Unknown,Unknown,Human,Pure-blood,Black,Black,<NA>,Beater,c. 1979-1980,True
49,Gregory Goyle,Male,Student,Slytherin,Unknown,Unknown,Human,Pure-blood,Brown,NaN,<NA>,Beater,1 September 1979-31 August 1980,False
50,Bellatrix Lestrange,Female,NaN,Slytherin,"12¾"" Walnut dragon heartstring",<NA>,Human,Pure-blood,Black,NaN,Lord Voldemort | Death Eaters,She is a duellist of great skill and an experi...,1951,True
51,Dolores Jane Umbridge,Female,Professor of Defence Against the Dark Arts | D...,Slytherin,"8"" Birch dragon heartstring",Cat,Human,Half-blood,Iron grey,NaN,Ministry of Magic,Her punishment quill is of her own invention,26 August,False
52,Horace Eugene Flaccus Slughorn,NaN,Professor of Potions,Slytherin,"10¼"" Cedar dragon heartstring fairly flexible",Non-corporeal,Human,Pure-blood or half-blood,Bald,Gooseberry,<NA>,"Accomplished Occlumens, expert Potioneer, adva...",28 April,False
53,Lucius Malfoy,Male,School Governor,Slytherin,Elm and dragon heartstring,Unknown,Human,Pure-blood,White-blond,Grey,Lord Voldemort | Death Eaters,Skilled duellist and potioneer,c. 1954,False
54,Narcissa Malfoy,Female,NaN,Slytherin,Unknown,Unknown,Human,Pure-blood,Blonde,Blue,Lord Voldemort | Death Eaters,<NA>,1955,False
55,Regulus Arcturus Black,Male,NaN,Slytherin,Unknown,Non-corporeal,Human,Pure-blood,Black,NaN,<NA>,Seeker,1961,True
56,Pansy Parkinson,Female,Student,Slytherin,Unknown,Unknown,Human,Pure-blood or half-blood,NaN,NaN,<NA>,Prefect,1 September 1979- 31 August 1980,False
57,Blaise Zabini,Male,Student,Slytherin,Unknown,Unknown,Human,Pure-blood or half-blood,Black,Brown,<NA>,Chaser,"1 September, 1979  21 April, 1980",False
58,Tom Marvolo Riddle,Male,Student,Slytherin,"13½"" Yew phoenix feather core",Unknown,Human,Half-blood,Bald,Scarlet,<NA>,"Dark Lord, Outstanding manipulation, Parselton...",31 December 1926,True
59,Theodore Nott,Male,Student,Slytherin,Unknown,Unknown,Human,Pure-blood,Brown,NaN,<NA>,<NA>,"1 September, 1979  21 April, 1980",False
60,Rodolphus Lestrange,Male,NaN,Slytherin,Unknown,Unknown,Human,Pure-blood,Dark,Dark,Lord Voldemort | Death Eaters,<NA>,Pre 1964,False
61,Millicent Bulstrode,Female,Student,Slytherin,Unknown,Unknown,Human,Half-blood,Black,NaN,<NA>,<NA>,1 September 1979- 31 August 1980,False
62,Graham Montague,Male,Student,Slytherin,Unknown,Unknown,Human,Pure-blood or half-blood,Brown,Brown,<NA>,"Quidditch captain, Chaser",In or prior to c.1981,False
63,Bloody Baron,Male,Slytherin House Ghost,Slytherin,Unknown,Unknown,Ghost,Pure-blood or half-blood,NaN,NaN,<NA>,Controlling Peeves,Post 982,True
64,Marcus Flint,Male,Student,Slytherin,Unknown,Unknown,Human,Pure-blood or half-blood,Black,NaN,<NA>,"Chaser, Captain",1 September 1975- 31 August 1976,False
68,Salazar Slytherin,Male,Founder of Slytherin,Slytherin,"snakewood, Basilisk horn",Unknown,Human,Pure-blood,Grey,Dark,<NA>,Accomplished Legilimens and one of the first r...,Pre 976,True
76,Alecto Carrow,Female,Professor of Muggle Studies,Slytherin,Unknown,Unknown,Human,Pure-blood or half-blood,NaN,NaN,Lord Voldemort | Death Eaters,Spreading anti-Muggle propaganda,Pre 1981,False
77,Amycus Carrow,Male,Professor of Dark Arts,Slytherin,Unknown,Unknown,Human,Pure-blood or half-blood,NaN,NaN,Lord Voldemort | Death Eaters,Cruciatus Curse,Pre 1982,False
90,Walden Macnair,Male,Executioner for the Committee for the Disposal...,Slytherin,Unknown,Unknown,Human,Pure-blood or half-blood,Black,NaN,Lord Voldemort | Death Eaters,Liaising with giants,In or before 1970s,False
91,Augustus Rookwood,Male,Unspeakable,Slytherin,Unknown,None,Human,Pure-blood or half-blood,Brown/greying,NaN,Lord Voldemort | Death Eaters,Spying for Lord Voldemort,pre 1964,False
92,Antonin Dolohov,Male,Death Eater,Slytherin,Unknown,None,Human,Pure-blood or Half-blood,Dark,NaN,Lord Voldemort | Death Eaters,Duelling. Fought and killed Molly Weasley's br...,pre 1950,False
93,Corban Yaxley,Male,Head of the Department of Magical Law Enforcement,Slytherin,Unknown,None,Human,Pure-blood or Half-blood,Blonde,Blue,Lord Voldemort | Death Eaters,"Imperius curse, undercover work",Pre 1970s,False
125,Albus Severus Potter,Male,Student,Slytherin,Unknown,Unknown,Human,Half-blood,Jet-black,Bright green,<NA>,<NA>,Between 1 September 2005-31 August 2006,False
126,Scorpius Hyperion Malfoy,Male,Student,Slytherin,Unknown,Unknown,Human,Pure-blood,White blond,Grey,<NA>,<NA>,Between 1 September 2005-31 August 2007,False

## Demo 2: Grouping and calculating `size()` and `count()`

Apply a transformation:

In [ ]:
df.groupby("City").size()

In [ ]:
df.groupby("City").count()

## Exercise 2

In [19]:
characters.head()

,Name,Gender,Job,House,Wand,Patronus,Species,Blood status,Hair colour,Eye colour,Loyalty,Skills,Birth,Dead
Id,,,,,,,,,,,,,,
1,Harry James Potter,Male,Student,Gryffindor,"11"" Holly phoenix feather",Stag,Human,Half-blood,Black,Bright green,Albus Dumbledore | Dumbledore's Army | Order o...,Parseltongue| Defence Against the Dark Arts | ...,31 July 1980,False
2,Ronald Bilius Weasley,Male,Student,Gryffindor,"12"" Ash unicorn tail hair",Jack Russell terrier,Human,Pure-blood,Red,Blue,Dumbledore's Army | Order of the Phoenix | Hog...,Wizard chess | Quidditch goalkeeping,1 March 1980,False
3,Hermione Jean Granger,Female,Student,Gryffindor,"10¾"" vine wood dragon heartstring",Otter,Human,Muggle-born,Brown,Brown,Dumbledore's Army | Order of the Phoenix | Hog...,Almost everything,"19 September, 1979",False
4,Albus Percival Wulfric Brian Dumbledore,Male,Headmaster,Gryffindor,"15"" Elder Thestral tail hair core",Phoenix,Human,Half-blood,Silver| formerly auburn,Blue,Dumbledore's Army | Order of the Phoenix | Hog...,Considered by many to be one of the most power...,Late August 1881,True
5,Rubeus Hagrid,Male,Keeper of Keys and Grounds | Professor of Care...,Gryffindor,"16"" Oak unknown core",None,Half-Human/Half-Giant,Part-Human (Half-giant),Black,Black,Albus Dumbledore | Order of the Phoenix | Hogw...,Resistant to stunning spells| above average st...,6 December 1928,False

Group the characters by their "House", and calculate the `size()` of each group:

In [20]:
characters.groupby(by="House").size()

House
Gryffindor    38
Hufflepuff    13
Ravenclaw     18
Slytherin     28
dtype: int64

Group the characters by their "House", and calculate the `count()` of each group:

In [21]:
characters.groupby(by="House").count()

,Name,Gender,Job,Wand,Patronus,Species,Blood status,Hair colour,Eye colour,Loyalty,Skills,Birth,Dead
House,,,,,,,,,,,,,
Gryffindor,38,38,34,38,38,38,37,36,28,34,34,38,38
Hufflepuff,13,13,12,13,13,13,12,11,8,7,11,12,13
Ravenclaw,18,18,18,18,18,18,17,13,12,7,14,18,18
Slytherin,28,27,24,28,27,28,28,24,14,11,22,28,28

## Demo 3: Grouping and applying a single transformation

Apply a transformation:

In [22]:
df.groupby("City").sum()

           Quantity  Adults  Kids
City
Barcelona        17       8     9
Basel            16       7     9
Torino           15      11     4

In [23]:
df.groupby("City").mean()

           Quantity    Adults  Kids
City
Barcelona  5.666667  2.666667  3.00
Basel      4.000000  1.750000  2.25
Torino     7.500000  5.500000  2.00

In [24]:
df.groupby("City").min()

             Animal  Quantity  Adults  Kids
City
Barcelona   Dolphin         4       2     0
Basel       Dolphin         1       0     1
Torino     Elephant         3       3     0

In [25]:
df.groupby("City").max()

           Animal  Quantity  Adults  Kids
City
Barcelona  Monkey         8       4     6
Basel        Lion         7       4     5
Torino     Monkey        12       8     4

In [26]:
df.groupby("City").first()

             Animal  Origin  Quantity  Adults  Kids
City
Barcelona  Elephant    Asia         4       4     0
Basel      Elephant  Africa         2       1     1
Torino     Elephant  Africa         3       3     0

In [27]:
df.groupby("City").last()

            Animal  Origin  Quantity  Adults  Kids
City
Barcelona   Monkey  Africa         8       2     6
Basel      Giraffe  Africa         1       0     1
Torino      Monkey    Asia        12       8     4

Apply an arbitraty transformation:

In [28]:
df.groupby("City").aggregate(np.sum)

           Quantity  Adults  Kids
City
Barcelona        17       8     9
Basel            16       7     9
Torino           15      11     4

In [29]:
df.groupby("City").agg(np.sum)

           Quantity  Adults  Kids
City
Barcelona        17       8     9
Basel            16       7     9
Torino           15      11     4

## Exercise 3

In [30]:
characters.head()

,Name,Gender,Job,House,Wand,Patronus,Species,Blood status,Hair colour,Eye colour,Loyalty,Skills,Birth,Dead
Id,,,,,,,,,,,,,,
1,Harry James Potter,Male,Student,Gryffindor,"11"" Holly phoenix feather",Stag,Human,Half-blood,Black,Bright green,Albus Dumbledore | Dumbledore's Army | Order o...,Parseltongue| Defence Against the Dark Arts | ...,31 July 1980,False
2,Ronald Bilius Weasley,Male,Student,Gryffindor,"12"" Ash unicorn tail hair",Jack Russell terrier,Human,Pure-blood,Red,Blue,Dumbledore's Army | Order of the Phoenix | Hog...,Wizard chess | Quidditch goalkeeping,1 March 1980,False
3,Hermione Jean Granger,Female,Student,Gryffindor,"10¾"" vine wood dragon heartstring",Otter,Human,Muggle-born,Brown,Brown,Dumbledore's Army | Order of the Phoenix | Hog...,Almost everything,"19 September, 1979",False
4,Albus Percival Wulfric Brian Dumbledore,Male,Headmaster,Gryffindor,"15"" Elder Thestral tail hair core",Phoenix,Human,Half-blood,Silver| formerly auburn,Blue,Dumbledore's Army | Order of the Phoenix | Hog...,Considered by many to be one of the most power...,Late August 1881,True
5,Rubeus Hagrid,Male,Keeper of Keys and Grounds | Professor of Care...,Gryffindor,"16"" Oak unknown core",None,Half-Human/Half-Giant,Part-Human (Half-giant),Black,Black,Albus Dumbledore | Order of the Phoenix | Hogw...,Resistant to stunning spells| above average st...,6 December 1928,False

Group the characters by their "House", and calculate the sum (to see how many people died):

In [31]:
characters.groupby(by="House").sum()

            Dead
House
Gryffindor    11
Hufflepuff     5
Ravenclaw      4
Slytherin      7

Group the characters by their "Gender" and calculate the sum, but using the `.agg()` method:

In [32]:
characters.groupby(by="Gender").agg(np.sum)

        Dead
Gender
Female     8
Male      19

## Demo 4: Grouping by several columns

In [33]:
df

        City    Animal  Origin  Quantity  Adults  Kids
0  Barcelona  Elephant    Asia         4       4     0
1  Barcelona   Dolphin     NaN         5       2     3
2  Barcelona    Monkey  Africa         8       2     6
3     Torino  Elephant  Africa         3       3     0
4     Torino    Monkey    Asia        12       8     4
5      Basel  Elephant  Africa         2       1     1
6      Basel   Dolphin     NaN         6       4     2
7      Basel      Lion  Africa         7       2     5
8      Basel   Giraffe  Africa         1       0     1

Group using several columns:

In [34]:
df.groupby(["City", "Origin"]).sum()

                  Quantity  Adults  Kids
City      Origin
Barcelona Africa         8       2     6
          Asia           4       4     0
Basel     Africa        10       3     7
          Asia           0       0     0
Torino    Africa         3       3     0
          Asia          12       8     4

## Exercise 4

In [35]:
characters.head()

,Name,Gender,Job,House,Wand,Patronus,Species,Blood status,Hair colour,Eye colour,Loyalty,Skills,Birth,Dead
Id,,,,,,,,,,,,,,
1,Harry James Potter,Male,Student,Gryffindor,"11"" Holly phoenix feather",Stag,Human,Half-blood,Black,Bright green,Albus Dumbledore | Dumbledore's Army | Order o...,Parseltongue| Defence Against the Dark Arts | ...,31 July 1980,False
2,Ronald Bilius Weasley,Male,Student,Gryffindor,"12"" Ash unicorn tail hair",Jack Russell terrier,Human,Pure-blood,Red,Blue,Dumbledore's Army | Order of the Phoenix | Hog...,Wizard chess | Quidditch goalkeeping,1 March 1980,False
3,Hermione Jean Granger,Female,Student,Gryffindor,"10¾"" vine wood dragon heartstring",Otter,Human,Muggle-born,Brown,Brown,Dumbledore's Army | Order of the Phoenix | Hog...,Almost everything,"19 September, 1979",False
4,Albus Percival Wulfric Brian Dumbledore,Male,Headmaster,Gryffindor,"15"" Elder Thestral tail hair core",Phoenix,Human,Half-blood,Silver| formerly auburn,Blue,Dumbledore's Army | Order of the Phoenix | Hog...,Considered by many to be one of the most power...,Late August 1881,True
5,Rubeus Hagrid,Male,Keeper of Keys and Grounds | Professor of Care...,Gryffindor,"16"" Oak unknown core",None,Half-Human/Half-Giant,Part-Human (Half-giant),Black,Black,Albus Dumbledore | Order of the Phoenix | Hogw...,Resistant to stunning spells| above average st...,6 December 1928,False

Group the characters by their "House" and "Gender", and calculate the sum:

In [37]:
characters.groupby(by=["House","Gender"]).sum()

                   Dead
House      Gender
Gryffindor Female     2
           Male       9
Hufflepuff Female     2
           Male       3
Ravenclaw  Female     3
           Male       1
Slytherin  Female     1
           Male       6

## Bonus: Grouping and applying several transformation

Apply several transformations together:

In [38]:
df.groupby("City").agg([np.sum, np.mean])

          Quantity           Adults           Kids
               sum      mean    sum      mean  sum  mean
City
Barcelona       17  5.666667      8  2.666667    9  3.00
Basel           16  4.000000      7  1.750000    9  2.25
Torino          15  7.500000     11  5.500000    4  2.00

Apply different transformations for different columns:

In [39]:
agg = {
    "Minimum number of animals": pd.NamedAgg(column="Quantity", aggfunc=np.min),
    "Maximum number of animals": pd.NamedAgg(column="Quantity", aggfunc=np.max),
    "Total number of adults": pd.NamedAgg(column="Adults", aggfunc=np.sum),
    "Total number of kids": pd.NamedAgg(column="Kids", aggfunc=np.sum),
}

In [40]:
df.groupby("City").agg(**agg)

,Minimum number of animals,Maximum number of animals,Total number of adults,Total number of kids
City,,,,
Barcelona,4,8,8,9
Basel,1,7,7,9
Torino,3,12,11,4